.wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: column;

}

.login-card{
    width: 30%;
    height: 50%;
    background-color: #ADD8E6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;

}

.login-card__title{
    color: #ffffff;
    margin: 30px 0px;
    

}

.btn-login{
    width: 100%;
    margin-top: 20px;
}

.register-card{
    width: 50%;
}


